<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
 
    <div class="wrapper">
      <header>
        
        {% if site.logo %}
        <p><a href="https://www.asociis.co.jp"><img src="{{site.logo | relative_url}}" alt="A Sociis Legal Translation" /></a></p>
        {% endif %}
        
        <h1 style="font-size: 24px"><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        <p>{{ site.description | default: site.github.project_tagline }}</p>       
        <p class="view"><a href="{{ "/archive.html" | absolute_url}}">Blog archive | バックナンバー</a></p>
        <p class="view"><a href="{{ "/materials.html" | absolute_url}}">Resources | 資料</a></p>
        <p class="view"><a href="https://www.asociis.co.jp">Translation Services | 弊社ホームページ</a></p>
               
      </header>
      <section>
      {{ content }}
      </section>
      <footer>
        <p><small>I am not a lawyer, and nothing I write here is legal advice, nor does it represent the views of my employers or clients, past, present, or future.</small></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
