<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <!-- Navbar (sit on top) -->
<div class="w3-top">
  <div style="width:100%; top:0; position:fixed; z-index:1"class="w3-bar w3-white w3-text-theme w3-card" id="myNavbar">
    <a href="https://www.asociis.co.jp/#home">
      <img src="image/nav-logo.png" alt="A Sociis" class="w3-image" style="width:100%;max-width:10rem;padding:1rem"></img>
    </a>
    <!-- Right-sided navbar links -->
    <div style="float: right !important; font-size: 1.2rem; padding: 1rem">
      <a href="https://www.asociis.co.jp/#about" class="w3-bar-item w3-button w3-hover-amber"><i class="far fa-building"></i> About</a>
      <a href="https://www.asociis.co.jp/#services" class="w3-bar-item w3-button w3-hover-amber"><i class="fa fa-file-alt"></i> Services</a>
      <a href="https://www.asociis.co.jp/#pricing" class="w3-bar-item w3-button w3-hover-amber"><i class="fa fa-yen-sign"></i> Pricing</a>
      <a href="https://www.asociis.co.jp/#contact" class="w3-bar-item w3-button w3-hover-amber"><i class="fa fa-envelope"></i> Contact</a>
      <a href="{{ "/" | absolute_url }}" class="w3-bar-item w3-button w3-hover-amber"><i class="fa-solid fa-rss"></i> Blog</a>
    </div>
  </div>
</div>

<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="w3-sidebar w3-bar-block w3-theme w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16 w3-hover-amber">Close ×</a>
  <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-amber">About</a>
  <a href="#services" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-amber">Services</a>
  <a href="#pricing" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-amber">Pricing</a>
  <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-amber">Contact</a>
  <a href="{{ "/" | absolute_url }}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-amber">Blog</a>
</nav>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>
        
        <p class="view"><a href="{{ "/archive.html" | absolute_url}}">Blog archive | バックナンバー</a></p>
        <p class="view"><a href="{{ "/materials.html" | absolute_url}}">Resources | 資料</a></p>
               
      </header>
      <section>
      {{ content }}
      </section>
      <footer>
        <p><small>I am not a lawyer, and nothing I write here is legal advice, nor does it represent the views of my employers or clients, past, present, or future.</small></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
